.sectionOne{
    width: 100%;
    border-bottom: solid 1px #ccc;
    display: flex;
    padding: 20px;
}

.sectionOneCont{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

h2{
    margin: auto;
    padding: 60px;
    font-size: clamp( 4em, 3vw, 5em);
    text-wrap: pretty;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

.subOne{
    text-decoration: underline #3a83b4;
}

.sectionOneCont section{
    margin: auto;
    padding: 10px;
    padding-right: 20px;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.sectionOneCont section p{
    font-size: clamp( 1.4em, 3.2vw, 1.8em);
    text-wrap: pretty;
}

.sectionOneCont aside{
    margin: auto;
    min-width: 300px;
    width: 50%;
}

.sectionOneCont aside img{
    width: 100%;
    border-radius: 40px;

}

@media (max-width: 1000px) {
    .sectionOneCont section{
        padding-left: 0;
        padding: 10px;
    }
}